.App{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
#search-bar{
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  line-height: 3rem;
  border-radius: 2rem;
  border:2px solid gray;
}
#list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-movie{
  text-align: center;
  text-decoration: none;
  color: black;

}
a { 
  color: inherit;
  text-decoration: none;
} 