.App{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
#search-form{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  

}
#search-bar{
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  width:50vw;
  /* flex-basis: content; */
  height: 48px;
  border: 2px solid grey;
  padding: 0;
  margin: 0;
  border-radius:3rem;
  outline:none;
}
#submit-button{
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 2rem;
  color: black;
  background-color: white !important;
  border: 2px solid grey;
  height: calc(3rem+2px);
  padding:0 1%;
  margin:0;
  border-radius:3rem;
  outline:none;
}
#list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-movie{
  text-align: center;
  text-decoration: none;
  color: black;

}
a { 
  color: inherit;
  text-decoration: none;
}
.movie{
  display: flex;
  padding:1vw;
  align-items: flex-start;
}
.movie-data{
  text-align: left;
  /* border: 1px solid red; */
  overflow: auto;
}
.movie-poster {
  margin:1vw;
  width:25vw;
  object-fit: contain;
}
.list-poster{
  object-fit: contain;
}
@media only screen and (max-width: 900px) {
  .movie{
    flex-direction: column;
    align-items: center;
  }
  .movie-poster{
    width: 50vw;
  }
}
@media only screen and (max-width: 600px){
  .movie-poster, .list-poster{
    width: 100vw;
  }
  #search-form{
    flex-direction: column;
    align-items: center;

  }
  #search-bar,#submit-button{
    width:80vw;
  }
}